---
import { Image } from "astro:assets";
import "@fontsource/jersey-25";
import "@fontsource/jetbrains-mono";
import "@fontsource/jockey-one";

import orpheusflag from "../assets/orpheusflag.png";
import orpheusrocket from "../assets/orpheusrocket.png";
import orpheusmoon from "../assets/orpheusmoon.png";
import wordmark from "../assets/wordmark.png";

import Step from "../components/Step.astro";
import Footer from "../components/Footer.astro";
import Dropdown from "../components/Dropdown.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:type" content="website" />
    <meta name="apple-mobile-web-app-title" content="Apex" />
    <meta property="og:site_name" content="Apex" />
    <meta property="og:title" content="Apex" />
    <meta
      name="description"
      property="og:description"
      content="A 3 month journey to launch projects 100,000 ft into the air on high-altitude balloons in Boston"
    />
    <meta property="og:image" content={wordmark.src} />

    <style>
      @keyframes float {
        0% {
          transform: translateY(0px);
        }
        50% {
          transform: translateY(-80px);
        }
        100% {
          transform: translateY(0px);
        }
      }

      .floating-balloon {
        animation: float 8s ease-in-out infinite;
      }
    </style>

    <title>Apex</title>
  </head>
  <body>
    <div
      class="relative flex min-h-screen w-full flex-col items-center justify-start bg-gradient-to-b from-[#000000] via-[#122247] to-sky text-white"
    >
      <div
        class="relative flex flex-col items-center justify-center gap-3 pt-24"
      >
        <Image src={wordmark} alt="Apex wordmark" class="w-1/2 md:w-1/3" />
        <p class="mx-10 text-center font-special text-2xl md:text-3xl">
          A 3 month journey to launch projects <strong class="font-extrabold"
            >100,000 ft into the air</strong
          > on high-altitude balloons in Boston
        </p>
        <Image
          class="absolute left-0 top-5 w-1/4 md:-left-10"
          src={orpheusrocket}
          alt="Orpheus on a rocket"
        />
        <Image
          class="absolute right-0 top-5 w-1/4 md:-right-10 md:w-1/6"
          src={orpheusmoon}
          alt="Orpheus on the moon"
        />
      </div>

      <div
        class="relative flex w-full flex-col items-center justify-start gap-20 py-24"
      >
        <Step
          num={1}
          date={new Date("2025-03-01T05:00")}
          title="Register"
          desc="Signing up for Apex is free - you just need a team of fellow teens ready to dive into making a project!"
          action={{
            text: "Signup",
            link: "/signup",
          }}
          direction="left"
        />
        <Step
          num={2}
          date={new Date("2025-04-01T05:00")}
          title="Submit proposal"
          desc="Finalize your ideas and designs with your team and submit them to the review team!"
          action={{
            text: "Resources",
            link: "/resources/proposal",
          }}
          direction="right"
        />
        <Step
          num={3}
          date={new Date("2025-06-05T05:00")}
          title="Build your project"
          desc="After prototyping and iteration, put together the project that will launch on the HAB and ship it to the launch location!"
          action={{
            text: "Details",
            link: "/resources/building",
          }}
          direction="left"
        />
        <Step
          num={4}
          date={new Date("2025-06-21T05:00")}
          title="LAUNCH!"
          desc="Head over to Boston to launch, recover, and analyze your project during a 3-day event on June 20-22!"
          action={{
            text: "Info",
            link: "/resources/launch",
          }}
          direction="right"
        />
      </div>

      <div
        class="flex h-fit w-full flex-col items-center justify-center gap-5 bg-cardblue p-5 md:p-20"
      >
        <h1 class="w-1/2 text-2xl">General questions</h1>

        <Dropdown question="What's a hackathon?">
          A hackathon is a 12-48 hour event where groups of people can get
          together and create! Don't worry, we're not doing any computer
          hacking. This hackathon is a bit unorthodox - it's a 3 month long
          journey, culminating in the traditional 48 hour event, but with some
          twists.
        </Dropdown>

        <Dropdown question="Who's this for?">
          This is for any high schooler or middle schooler 18 or under who's
          interested in working on a large project. Reaching out of you comfort
          zone is necessary! If you've ever wanted to branch into the world of
          hardware, this is perfect for you. Or maybe, you just want to switch
          things up a little.
          <br />
          <br />
          Don't worry if you don't have any experience - most people don't! We'll
          help you along the way if you need it.
        </Dropdown>

        <Dropdown question="Do I need experience to sign up?">
          Nope! Apex is open to all teenagers interested in launching projects
          on high altitude balloons. We will provide lots of resources to help
          you along the way of creating your project, in addition to weekly
          working calls to refine your idea and help you build.
        </Dropdown>

        <Dropdown question="Do I need a team?">
          Yes, you need a team of 3-4 people. This is because we have limited
          space on the balloon, and we want to make sure everyone gets a chance
          to launch their project. If you don't have a team, don't worry! We'll
          help you find one.
        </Dropdown>

        <Dropdown question="Is this free?">
          Yes, this is completely free! We want to make sure that everyone has
          the opportunity to participate, regardless of their financial
          situation. We'll cover the cost of the launch, food, a project budget,
          and flights.
        </Dropdown>

        <Dropdown question="Who's running this? What's Hack Club?">
          The team at Apex is partnering with Hack Club to make this possible.
          <br />
          <br />
          Hack Club is a 501(c)(3) nonprofit organization, founded in 2014, with
          the mission of fostering an empowered generation of coders, leaders, and
          innovators. “Hacking” is being constructively redefined as a means of creative
          coding—apps, games, websites etc. Through Hack Club's global network of
          student-led computer science clubs, over 50K+ teenagers engage with their
          programs annually.
          <br />
          <br />
          All of Hack Club{"'"}s programs are free and universally accessible.
          They{"'"}re supported by GitHub founder Tom Preston-Werner, Dell
          founder Michael Dell, SpaceX{"'"}s Gwynne Shotwell, executives at
          Apple and Microsoft, and many up and coming startups as well.
          <br />
          <br />
          Every year, Hack Club runs a few transformative events for teenagers interested
          in technology. In the past, they{"'"}ve chartered a train across
          Canada, ran hackathons in San Francisco & New Delhi, hacked at a
          Vermont campground, and sent out $50,000 in hardware grants.
        </Dropdown>

        <Dropdown question="Is there an online community for this?">
          There sure is! We have a channel on the Hack Club Slack called #apex.
          Join <a
            class="underline"
            href="https://hackclub.com/slack/?event=Apex"
            target="_blank">here</a
          >! We provide support here and post important updates in
          #apex-bulletin. For that reason, membership is mandatory!
        </Dropdown>

        <h1 class="mt-10 w-1/2 text-2xl">Logistics</h1>

        <Dropdown question="Where and when is this happening?">
          The main event will hopefully be hosted at the WPS Institute, in
          Newton, MA, just outside of Boston. The event will take place from
          June 20-22, 2025. See a full schedule <a
            class="underline"
            href="/resources/launch">here</a
          >!
        </Dropdown>

        <Dropdown question="Wait - we need to track our time spent working?">
          You sure do! To verify that you're actually doing work for the event,
          we require you to track your time spent creating, coding, and
          researching.
        </Dropdown>

        <Dropdown question="Hold up, how do I track my time?">
          Great question! We're still working on the tool (expected by early
          March!), but it will record your screen while you work on your
          project. If you're working on something physical, you can set up your
          phone or other device to record yourself working. This way, we can
          verify that you're actually working on your project.
        </Dropdown>

        <Dropdown question="Is there a project budget?">
          Yep! Every person on a team that works for more than 20 hours will get
          $100. This means a team could get between $300 and $400!
        </Dropdown>

        <Dropdown question="How do we get there? Are flights free?">
          Once you reach your 100 hours of work, we'll cover the cost of your
          airfare or transport to Boston up to $400! In addition, we'll cover up
          to $40 worth of transport to and from the airport.
        </Dropdown>

        <Dropdown question="Do we need to stay overnight?">
          Yep! To make sure the event is safe, we'll be staying overnight at the
          venue. Participants will be expected to bring their own sleeping bags,
          but please contact us if you don't have one.
        </Dropdown>

        <Dropdown question="What if I get stuck and need help?">
          If you get stuck, don't worry! We have a team of mentors who are here
          to help you. They're all experienced makers and are here to help you
          with any problems you might have. We'll also have weekly or bi-weekly
          working calls where you can pop in, ask questions, and receive help,
          in addition to our monthly mandatory 1:1 teams check-ins.
        </Dropdown>

        <h1 class="mt-10 w-1/2 text-2xl">Technical questions</h1>

        <Dropdown question="What's a high altitude balloon?">
          High altitude balloons (HABs) are an accessible way to send research
          and recreational payloads into altitudes upwards of 100,000 feet.
          While they demand meticulous planning and logistics, they reward those
          who launch them with the chance to send their payloads to tremendous
          altitudes. We are here to bring you that experience, but without the
          fierce logistics and infrastructure that often come with a launch!
          <br />
          <br />
          If you're interested in learning more, watch <a
            class="underline"
            target="_blank"
            href="https://www.youtube.com/watch?v=gx_RJoNerg0"
            >this video from the New England Weather Balloon Society</a
          >.
        </Dropdown>

        <Dropdown
          question="What will the launch process and the event be like?"
        >
          Participants will first arrive and finalize their projects before we
          drive out as a group to the launch site. Projects are attached to a
          weather balloon, ascend to the stratosphere, and then descend via
          parachute. Different teams will go out to track and recover their
          projects before analyzing the data. Be prepared for some hiking
          through the woods! Next, we will analyze the collected data before
          finally presenting it to the hackathon. There will also be an awesome
          post-launch celebration and a watch party of the video cams.
        </Dropdown>

        <Dropdown question="What can I launch?">
          You can launch anything that fits within our <a
            class="underline"
            href="/resources/limitations">limitations</a
          >! Bear in mind that we'll be vetting projects based on their
          complexity and the estimated time it will take.
        </Dropdown>

        <Dropdown question="Are the projects actually going to space?">
          Great question! Unfortunately, no. The balloons will reach altitudes
          of 100,000 feet (30 km), but they won't actually reach space. Your
          project will get to about 3/8 of the way to space.
        </Dropdown>

        <!-- CHANGE THIS, GET SOME LINKS -->
        <Dropdown question="Where can I learn more about balloons?">
          We have a <a class="underline" href="/resources/balloons">page</a>
          with more information about balloons.
        </Dropdown>

        <h1 class="mt-10 w-1/2 text-2xl">Final notes</h1>

        <!-- EMAIL ADDRESS IS PROBABLY WRONG -->
        <Dropdown question="What if I have more questions?">
          If you have any more questions, feel free to reach out to us at
          <a class="underline" href="mailto:help@apex.hackclub.com"
            >help@apex.hackclub.com</a
          >, or drop a question in the #apex channel of <a
            class="underline"
            href="https://hackclub.com/slack/?event=Apex"
            target="_blank">the Hack Club Slack!</a
          > We're here to help!
        </Dropdown>

        <!-- DONT FORGET TO CHANGE THE FILE TO VIEW ONLY -->
        <Dropdown question="My parents are concerned. What can I do?">
          That's natural - this all seems a little wild. Don't worry, we can
          help. We have a parent's guide just for this purpose. You can find it <a
            class="underline"
            href="https://docs.google.com/document/d/1Dj0hCN9b1P7sPskRS3Z10Ju9wWvB5wauDL7DU0ZH9MY/edit?usp=sharing"
            target="_blank">here</a
          >.
        </Dropdown>
      </div>
      <div class="flex w-full justify-evenly bg-sky">
        <Image
          src={orpheusflag}
          alt="Orpheus holding a flag"
          class="relative top-5 w-1/4"
        />
        <a
          href="/signup"
          style="direction: rtl;"
          class="h-fit self-center rounded-full bg-white p-3 indent-[-0.5em] text-xl font-black tracking-[0.5em] text-black md:p-10 md:text-5xl"
          >SIGNUP</a
        >
        <Image
          src={orpheusflag}
          alt="Orpheus holding a flag"
          class="relative top-5 w-1/4 -scale-x-[1]"
        />
      </div>

      <Footer />

      <img
        src="/balloon.png"
        class="floating-balloon absolute left-[5%] top-[15%] hidden md:block"
      />
      <img
        src="/balloon.png"
        class="floating-balloon animate-delay-6000 absolute right-[5%] top-1/3 hidden md:block"
        style="animation-delay: 6s;"
      />
      <img
        src="/balloon.png"
        class="floating-balloon animate-delay-6000 absolute left-[5%] top-[40%] hidden md:block"
        style="animation-delay: 6s;"
      />
      <img
        src="/balloon.png"
        class="floating-balloon animate-delay-6000 absolute right-[5%] top-[60%] hidden md:block"
        style="animation-delay: 6s;"
      />
      <img
        src="/balloon.png"
        class="floating-balloon absolute left-[5%] top-[70%] hidden md:block"
      />
    </div>
  </body>
</html>
